		 *{
			background-color: #99ccffff;
			font-family: 'OnionFont', sans-serif;
			color: white;
			text-outline: black; 
			text-shadow: 
			-1px -1px 0 #000,  
			 1px -1px 0 #000,
			-1px  1px 0 #000,
			 1px  1px 0 #000;
		 }
		 /*import the custom font from the .woff2 font*/
		 @font-face {
			font-family: 'OnionFont';
			src: url('./apl386.woff2') format('woff2');
			font-weight: normal;
			font-style: normal;
		  }
         .h1{
           text-align: center;
		 }
		 
		 /* CSS for a big rounded button */
		 #playbtn {
			background-color: #00AEEF; /* Blue background color */
			color: white; /* White text color */
			border: 3px solid black; /* Black border */
			border-radius: 10px; /* Slightly rounded corners */
			padding: 10px 20px; /* Padding inside the button */
			font-size: 24px; /* Larger font size */
			font-family: 'OnionFont', sans-serif; /* Font family */
			text-align: center; /* Center the text */
			text-decoration: none; /* Remove underline */
			display: inline-block; /* Display as an inline block */
			cursor: pointer; /* Pointer cursor on hover */
		  }
		
		  #playbtn:hover {
			background-color: #008FCC; /* Darker blue background on hover */
		  }