@font-face {
    font-family: 'OnionFont';
    src: url('./apl386.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    background-color: #99ccff;
    font-family: 'OnionFont', sans-serif;
    color: white;
    text-outline: black; 
    text-shadow: 
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
}

.h1 {
    text-align: center;
}

header {
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}

.promo {
    text-align: center;
    margin: 20px 0;
}

.promo-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#playbtn {
    background-color: #00AEEF;
    color: white;
    border: 3px solid black;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    height: 60px; /* Adjust the height */
    width: 200px; /* Increased the width */
}

#playbtn:hover {
    background-color: #008FCC;
}

#playstore-badge {
    height: 60px; /* Matches the height of the Play Now button */
    width: auto;
    border: none; /* Remove border so it's outside the blue box */
    border-radius: 0;
}

.screenshots {
    margin: 20px 0;
}

.gallery {
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
}

.gallery img {
    max-width: 30%;
    height: auto;
    border: 2px solid #ddd;
    border-radius: 5px;
}

.about {
    margin: 20px 0;
}

footer {
    text-align: center;
    padding: 10px;
}

.trivia {
    background-color: #99ccff;
    border: 2px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    color: white;
}

.trivia h1 {
    font-size: 2em;
    color: white;
    margin-bottom: 10px;
    text-align: center;
}

.trivia ul {
    list-style-type: disc;
    margin-left: 20px;
}

.trivia li {
    margin: 10px 0;
    font-size: 1.1em;
    color: white;
}

.trivia p {
    font-size: 1em;
    color: white;
    margin-top: 20px;
}

.awards {
    text-align: center;
    margin: 20px;
    background-color: #99ccff;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #ddd;
    color: white;
}

.awards h2 {
    font-size: 24px;
    color: white;
    margin-bottom: 20px;
}

.award-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.award-item img {
    max-width: 200px;
    height: auto;
    margin-bottom: 10px;
    border: 2px solid #ddd;
    border-radius: 10px;
}

.award-item p {
    font-size: 18px;
    color: white;
}

.youtube-shorts {
    text-align: center;
    margin: 20px 0;
}

.youtube-shorts h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: white;
}

.youtube-shorts iframe {
    border: 2px solid #ddd;
    border-radius: 10px;
}

footer .follow-us {
    margin-top: 20px;
}

footer .follow-us .twitter-follow-button {
    display: inline-block;
    margin: 10px 0;
}
